@import 'colors.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--g4);
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.logo {
  padding-top: 5rem;
  padding-bottom: 4rem;

}

.content {
  max-width: 920px;
  min-height: 480px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  padding: 32px;
}


.bill {
  width: 100%;
  max-width: 430px;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
}


.value-input label {
  font: 700 16px 'Space mono';
  color: var(--g2);
  margin-bottom: 10px;
  display: block;
}

.input {
  position: relative;
}

.input img {
  position: absolute;
  left: 14px;
  top: 13px;
  width: 14px;
}

.bill-number {
  width: 100%;
  height: 2.875rem;
  border-radius: 5px;
  border: 2px solid transparent;
  text-align: right;
  background-color:  hsl(189, 41%, 97%);
  font: 700 24px 'Space mono';
  color:hsl(183, 100%, 15%);
  padding-right: 14px;
  cursor: pointer;
}

  input:focus {
  border: 2px solid #27C1AC;
}

.bill-number::placeholder {
  font: 700 24px 'Space mono';
  color: #9FB7B7;
}


/* SELECT TIP % */


.select-tip label {
  font: 700 16px 'Space mono';
  color: hsl(186, 14%, 43%);
  margin-bottom: 14px;
  display: block;
}

.percent-value {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.percent-value button {
  width: 100%;
  height: 48px;
  background-color: hsl(183, 100%, 15%);
  font: 700 24px 'Space mono';
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.percent-value button:hover {
  background-color: var(--g3);
  color: var(--g1);
  transition: .3s;
}

.percent-value button.select {
  background-color: #27C1AC;
  color: var(--g1);
}

.percent-value input {
  width: 100%;
  max-width: 150px;
  height: 48px;
  background-color:  hsl(189, 41%, 97%);
  font: 700 24px 'Space mono';
  color: hsl(183, 100%, 15%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  text-align: right;
  padding-right: 8px;
}

.percent-value input::placeholder {
  color:hsl(186, 14%, 43%);
  text-align: center;
  margin-left: 6px;
}


/* Number of People */

.number-people label {
  font: 700 16px 'Space mono';
  color: hsl(186, 14%, 43%);
  margin-bottom: 10px;
  display: block;
}

.input-people {
  position: relative;
}

.input-people img {
  position: absolute;
  left: 14px;
  top: 14px;
  width: 14px;
}

.input-people input {
  width: 100%;
  height: 2.875rem;
  border-radius: 5px;
  border: none;
  text-align: right;
  background-color:  hsl(189, 41%, 97%);
}

.people-number {
  font: 700 24px 'Space mono';
  color:hsl(183, 100%, 15%);
  padding-right: 14px;
}

/* OUTPUT */

.result {
  background-color: var(--g1);
  width: 416px;
  border-radius: 20px;
  margin-left: 15px;
  display: flex;
  padding: 42px 40px 40px 40px;
  flex-direction: column;
  justify-content: space-between;
}

.total, .tip-amount {
  display: flex;
  flex-direction: row;
}

.values {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tip-amount, .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tip-amount span:first-child, .total span:first-child{
  font: 700 16px 'Space mono';
  color: var(--white);
}

#amount-value, #total-value {
  font: 700 2.9rem 'Space mono';
  color: #27C1AC;
}

.person-detail {
  opacity: 40%;
}

.reset button{
  background-color: #27C1AC;
  width: 100%;  
  height: 48px;
  border: none;
  border-radius: 5px;
  font: 700 24px 'Space mono';
  text-transform: uppercase;
  color: var(--g1);
  cursor: pointer;
}

.reset button:hover {
  background-color: var(--g3);
  color: var(--g1);
  transition: .3s;
}


.error {
  border: 2px solid red;
}



@media(max-width: 1000px) {
  .content {
    flex-direction: column;
    align-items: center;
    padding: 24px;
    border-radius: 30px 30px 0 0;
    gap: 32px;
  }

  .bill {
    padding: 8px;
    background-color: white;
    gap: 32px;
  }

  .result {
    margin-left: 0px;
    gap: 32px;
    padding: 38px 25px 24px 24px;
  }
}

@media(max-width:515px) {
  .logo {
    padding: 1.5rem 1rem;
  }
  .content {
    width: 100%;
  }
  .percent-value {
    grid-template-columns: 1fr 1fr;
  }
  .result {
    width: 100%;
    border-radius: 15px;
  }
  #amount-value, #total-value {
    font: 700 2.4rem 'Space mono';
  }
  .values {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .tip-amount span:first-child, .total span:first-child{
    font: 700 14px 'Space mono';
    color: var(--white);
  }
  .reset button{
    font: 700 20px 'Space mono';
  }
}